# ===============================
# Keil MDK 编译产物（全部忽略）
# ===============================
*.o
*.d
*.axf
*.hex
*.bin
*.map
*.lst
*.lnp
*.sct
*.dep
*.crf
*.bak
*.tmp
*.htm
*.build
*.log
*.elf

# Keil 工程文件夹
MDK-ARM/Listings/
MDK-ARM/Objects/
MDK-ARM/*.uvguix
MDK-ARM/*.uvoptx.bak
__pycache__/

# ================================
# STM32 CubeMX 生成文件
# ================================
.mxproject
*.ioc.bak

# ================================
# 重点：忽略超大 Drivers 库文件
# 这样 GitHub 永远不会上传 Drivers
# ================================
Drivers/
CMSIS/

# ================================
# 系统/编辑器垃圾文件
# ================================
.DS_Store
.idea/
.vscode/
*.swp